@import url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy.css");

.scrollTop {
    position: fixed;
    z-index: 9999;
    bottom: 25px;
    right: 25px;
    background-color: rgba(2, 2, 2, 0.8);
    color: #FFD200;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    line-height: 1.35em;
    font-weight: 700;
    font-family: "Paperlogy", sans-serif;
    transition: all .5s;
    opacity: 0;
}

.scrollTop.scroll {
    opacity: 1;
}

.scrollTop:hover {
    color: #111;
    background-color: #FFD200;
    font-weight: 900;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
}


.inner {
    max-width: 1500px;
    min-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.tit {
    font-family: "Paperlogy", sans-serif;
    font-weight: 700;
    text-align: center;
}

.des {
    text-align: center;
}


.mainVisual {
    background: url(/img/main_bg.png) no-repeat center / cover;
    width: 100%;
    height: 100vh;
    opacity: 0;
    animation: intro 3s forwards;
}

@keyframes intro {
    0% {}

    100% {
        opacity: 1;
    }
}

.mainVisual .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.mainVisual .main_logo {
    width: 0%;
    margin-top: -30%;
    animation: intro1 1s forwards;
    opacity: 0;
}

@keyframes intro1 {
    0% {}

    100% {
        width: 36.5%;
        opacity: 1;
    }
}

.mainVisual .btn_box {
    width: 35%;
    position: absolute;
    margin-top: 0%;
    animation: intro2 .5s 2s forwards;
    opacity: 0;
    z-index: 9999;
}

@keyframes intro2 {
    0% {}

    100% {
        margin-top: 5%;
        opacity: 1;
    }
}

.mainVisual .btn_box ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mainVisual .btn_box ul li {
    width: 48%;
}

.mainVisual .main_chr {
    width: 60%;
    position: absolute;
    bottom: -50%;
    animation: intro3 1s 1s forwards;
    opacity: 0;
    z-index: 1;
}

.mainVisual .main_chr.mobile {
    display: none;
}

@keyframes intro3 {
    0% {}

    100% {
        bottom: 0;
        opacity: 1;
    }
}

.cont1 {
    background-color: #FFD200;
    padding: 120px 0 250px;
}

.cont1 .mushroom_chr {
    display: block;
    margin: 0 auto 5px;
    width: 80px;
}

.cont1 .tit {
    color: #111;
    font-size: 38px;
    margin-bottom: 15px;
}

.cont1 .des br {
    display: none;
}

.cont1 .des {
    color: #333;
    text-align: center;
    font-size: 18px;
    margin-bottom: 100px;
}

.cont1 .leaf_img {
    display: block;
    width: 60px;
    position: absolute;
    z-index: 5;
    left: 50%;
    transform: translateX(-50%);
}

.cont1 .leaf_img.leaf1 {
    width: 65px;
    top: 0;
    margin-left: 22.5%;
    animation: float1 2s ease-in-out infinite;
}

.cont1 .leaf2 {
    top: 100px;
    margin-left: -25%;
    animation: float2 3s ease-in-out infinite;
}

.cont1 .leaf3 {
    top: 185px;
    margin-left: 20%;
    animation: float3 2.5s ease-in-out infinite;
}

@keyframes float1 {

    0%,
    100% {
        transform: translate(0, 0) rotate(0deg);
    }

    50% {
        transform: translate(5px, -12px) rotate(3deg);
    }
}

@keyframes float2 {

    0%,
    100% {
        transform: translate(0, 0) rotate(0deg);
    }

    50% {
        transform: translate(-7px, -8px) rotate(-4deg);
    }
}

@keyframes float3 {

    0%,
    100% {
        transform: translate(0, 0) rotate(0deg);
    }

    50% {
        transform: translate(4px, -15px) rotate(2deg);
    }
}

.cont1 .cont1_slider {
    width: 180%;
    margin: 0 auto;
    margin-left: -40%;
    overflow: visible;
}

.cont1 .cont1_slider .slide {
    color: #000;
    background-color: #fff;
    border-radius: 10px;
    transition: all .3s;
}

.cont1 .cont1_slider .slide .img_box {
    width: 100%;
    background-color: #eee;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.cont1 .cont1_slider .slide .txt_box {
    text-align: center;
    padding: 20px 30px 35px;
    box-sizing: border-box;
}

.cont1 .cont1_slider .slide .txt_box .slide_tit {
    font-family: "Paperlogy", sans-serif;
    color: #111;
    font-weight: 700;
    font-size: 26px;
}


.cont1 .cont1_slider .slide .txt_box .slide_txt {
    white-space: pre-line;
}


.cont1 .cont1_slider :global(.swiper-slide-active) {
    transform: scale(1.15);
    z-index: 10;
}

.cont2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 300px 0 350px;
    position: relative;
}

.cont2 .cont2_bg {}

.cont2 .cont2_main {
    display: block;
    margin: 0 auto;
    width: 35%;
    position: absolute;
}

.cont3 {
    width: 100%;
    height: 135vh;
    background: url(/img/book_bg.png) no-repeat center /cover;
}

.cont3 .inner {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.cont3 .tit {
    font-size: 42px;
    margin-bottom: 10px;
    color: #FDF0D5;
}

.cont3 .des {
    font-size: 18px;
    color: #FDF0D5;
    margin-bottom: 45px;
}

.cont3 .des br {
    display: none;
}

.cont3 .btn_box {
    margin-bottom: 80px;
}

.cont3 .btn_box ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cont3 .btn_box ul li a {
    padding: 8px 45px;
    font-family: "Paperlogy", sans-serif;
    font-weight: 700;
    color: #fdf0d5;
    font-size: 30px;
    background-color: #6d3d25;
    border: 2px solid #000;
    border-radius: 5px;
    margin: 0 15px;
    transition: all .5s;
}

.cont3 .btn_box ul li.on a {
    background-color: #fdf0d5;
    color: #87583F;
    ;
}

.cont3 .book {
    width: 90%;
    position: relative;
    margin: 0 auto;
}

.cont3 .book_img {}

.cont3 .book_left_box {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cont3 .book_right_box {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cont3 .book_left_box .coutry_tit {
    color: #636161;
    text-align: left;
    width: 75%;
    margin-left: 8%;
    margin-top: -20%;
    font-family: "Paperlogy", sans-serif;
    font-weight: 800;
    font-size: 34px;
    color: #58311b;
    padding-bottom: 10px;
    border-bottom: 1px solid #D4A563;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.cont3 .book_left_box .coutry_tit img {
    width: 60px;
    margin-right: 5px;
}

.cont3 .book_left_box .profile_box {
    width: 75%;
    height: 500px;
    overflow-y: scroll;
    margin-left: 8%;
    display: flex;
    flex-wrap: wrap;
    padding-right: 10px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

/* 전체 스크롤바 */
.profile_box::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* 스크롤바 배경 */
.profile_box::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;

}

/* 움직이는 막대 */
.profile_box::-webkit-scrollbar-thumb {
    background: rgb(88, 49, 27, 0.8);
    border-radius: 10px;
    cursor: pointer;
}


.cont3 .profile_box li {
    width: 22%;
    margin: 0 1.5%;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    opacity: 0.25;
    transition: all .3s;
}

.cont3 .profile_box li.on {
    opacity: 1;
}

.cont3 .country_a,
.cont3 .country_b,
.cont3 .country_c {
    display: none;
}

.cont3 .country_a.show,
.cont3 .country_b.show,
.cont3 .country_c.show {
    display: block;
}

.cont3 .book_right_box .chr_profile {
    width: 75%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-left: -8%;
    margin-top: -100px;
}

.cont3 .chr_profile .chr_bg {
    margin: 15px 0;
}

.cont3 .character_box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -55px;
}

.cont3 .character_box .chr {
    position: absolute;
    width: 100%;
}

.cont3 .chr_profile .txt_box {
    font-family: "Paperlogy", sans-serif;
    color: #58311b;
    margin-top: -20px;
    margin-bottom: 25px;
    text-align: center;
    width: 100%;
}

.cont3 .chr_profile .txt_box .tit,
.cont3 .chr_profile .txt_box .des {
    color: #58311b;
}

.cont3 .chr_profile .txt_box .tit {
    margin-top: -20px;
    margin-bottom: 0px;
    font-size: 38px;
}

.cont3 .chr_profile .txt_box .grade {
    display: block;
    font-size: 21px;
    margin-bottom: 30px;
}

.cont3 .chr_profile .txt_box .des {
    display: block;
    padding: 30px 0;
    width: 80%;
    margin: 0 auto;
    background-color: #eed0a5;
    border-radius: 10px;
    white-space: pre-line;
}

.cont3 .chr_profile .txt_box .des_box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont3 .chr_profile .txt_box .attack {
    background-color: #58311b;
    color: #fdf0d5;
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 18px;
    position: absolute;
    top: -15px;
}

.story {
    background: url(/img/story_bg.png)no-repeat center / cover;
}

.story .inner {
    padding: 300px 0 450px;
}

.story .story_line {
    width: 12.5%;
    display: block;
    margin: 0 auto 20px;
}

.story .story_tit {
    width: 38%;
    display: block;
    margin: 0 auto 45px;
}

.story .story_txt {
    font-size: 18px;
    text-align: center;
    color: #FDF0D5;
    line-height: 2.25em;
    margin-bottom: 100px;
}

.story .story_btn {
    display: block;
    width: 350px;
    margin: 0 auto;
    animation: outglow 1.8s ease-in-out infinite;
}

@keyframes outglow {

    0%,
    100% {
        filter: drop-shadow(0 0 0 rgba(255, 255, 255, 0));
    }

    50% {
        filter:
            drop-shadow(0 0 30px rgba(249, 255, 210, 0.45)) drop-shadow(0 0 10px rgba(253, 255, 232, 0.25));
    }
}

.banner {
    padding: 100px 0 180px;
    background-color: #faefe2;

}

.banner .banner_img img {
    display: block;
    width: 85%;
    margin: 0 auto;
}

@media (max-width: 1920px) {
    .inner {
        width: 1200px;
    }

    .scrollTop {
        width: 65px;
        height: 65px;
        font-size: 12px;
        line-height: 1.25em;
    }

    .mainVisual {
        min-height: 950px;
    }

    .mainVisual .main_logo {
        margin-top: -355px;
    }

    @keyframes intro1 {
        0% {}

        100% {
            width: 420px;
            opacity: 1;
        }
    }

    .mainVisual .btn_box {
        width: 400px;
    }

    @keyframes intro2 {
        0% {}

        100% {
            margin-top: 45px;
            opacity: 1;
        }
    }

    .mainVisual .main_chr {
        width: 700px;
    }

    .cont1 .leaf_img.leaf1 {
        width: 50px;
    }

    .cont1 .leaf_img {
        width: 45px;
    }

    .cont1 .mushroom_chr {
        width: 65px;
    }

    .cont1 .tit {
        font-size: 32px;
        margin-bottom: 10px;
    }

    .cont1 .des {
        font-size: 16px;
        margin-bottom: 85px;
    }

    .cont1 .cont1_slider .slide .txt_box .slide_tit {
        font-size: 21px;
        margin-bottom: 5px;
    }

    .cont1 .cont1_slider .slide .txt_box .slide_txt {
        font-size: 14px;
    }

    .banner {
        background-color: #faf5ef;
        padding: 0px 0 165px;
    }

    .cont3 {
        height: 150vh;
    }

    .cont3 .tit {
        font-size: 34px;
        margin-bottom: 5px;
    }

    .cont3 .des {
        font-size: 16px;
    }

    .cont3 .btn_box ul li a {
        font-size: 26px;
    }

    .cont3 .book_left_box .coutry_tit img {
        width: 45px;
    }

    .cont3 .book_left_box .coutry_tit {
        font-size: 26px;
        margin-top: 0;
    }


    .cont3 .book_right_box .chr_profile {
        margin-top: -80px;
        height: 75%;
    }

    .cont3 .book_right_box .character_box {
        width: 90%;
        margin: -55px auto 0px;
    }

    .cont3 .chr_profile .txt_box {
        margin-top: -10px;
        margin-bottom: 0;
    }

    .cont3 .chr_profile .txt_box .tit {
        font-size: 28px;
    }

    .cont3 .chr_profile .txt_box .grade {
        font-size: 18px;
    }

    .cont3 .chr_profile .txt_box .des_box .attack {
        font-size: 16px;
    }

    .cont3 .chr_profile .txt_box .des_box .des {
        font-size: 15px;
    }

    .story .story_tit {
        width: 36%;
    }

    .story .story_txt {
        font-size: 16px;
    }

    .story .story_btn {
        width: 310px;
    }

    .banner .banner_img img {
        width: 80%;
    }

}

@media (max-width: 1512px) {
    .mainVisual {
        min-height: auto;
    }

    .mainVisual .main_logo {
        margin-top: -280px;
    }

    @keyframes intro1 {
        0% {}

        100% {
            width: 380px;
            opacity: 1;
        }
    }

    .mainVisual .btn_box {
        width: 380px;
    }

    @keyframes intro2 {
        0% {}

        100% {
            margin-top: 65px;
            opacity: 1;
        }
    }

    .mainVisual .main_chr {
        width: 600px;
    }
}

@media (max-width: 1200px) {
    .inner {
        width: 90%;
        max-width: auto;
        min-width: auto;
    }

    .cont1 .leaf_img.leaf1 {
        top: 00px;
        margin-left: 30%;
    }

    .cont1 .leaf_img.leaf2 {
        top: 0;
        margin-left: -35%;
    }

    .cont1 .leaf_img.leaf3 {
        top: 200px;
        margin-left: 30%;
    }


    .cont1 .cont1_slider {
        width: 200%;
        margin-left: -50%;
    }

    .cont2 {
        background: url(/img/cont2_bg.png) no-repeat center / 135%;
    }

    .cont2 .cont2_bg {
        display: none;
    }

    .cont2 .cont2_main {
        width: 50%;
    }

    .cont3 {
        width: 100%;
        height: auto;
        background: url(/img/book_bg_mobile.png) no-repeat center bottom /100%;
    }

    .cont3 .book_box {
        background: url(/img/book_mobile.png) no-repeat center / 100%;
        padding: 150px 0;
        width: 90%;
        max-width: 450px;
        margin: 0 auto;
    }

    .cont3 .book_img {
        display: none;
    }

    .cont3 .btn_box {
        margin-bottom: 40px;
    }

    .cont3 .btn_box ul li a {
        font-size: 21px;
        margin: 0 10px;
    }

    .cont3 .book_left_box {
        width: 80%;
        height: auto;
        overflow: hidden;
        margin: 0 auto 25px;
        position: static;
    }


    .cont3 .book_left_box .coutry_tit {
        display: none;
    }

    .cont3 .book_left_box .profile_box {
        width: 100%;
        height: auto;
        flex-wrap: nowrap;
        margin-left: 0;
        margin-bottom: 15px;
        overflow-y: hidden;
    }

    .cont3 .book_left_box .profile_box li {
        width: 50px;
        flex-shrink: 0;
    }

    .cont3 .book_right_box {
        width: 100%;
        position: static;
        margin: 0 auto;
    }

    .cont3 .book_right_box .chr_profile {
        margin-top: 0;
        margin-left: 0;
    }

    .cont3 .chr_profile .center_box {
        margin: 25px 0;
    }


    .cont3 .chr_profile .txt_box .des_box .des {
        width: 100%;
    }

    .cont3 .inner {
        padding: 150px 0 200px;
    }


    .story .inner {
        padding: 150px 0 350px;
    }

    .story .story_tit {
        width: 365px;
    }

    .banner {
        padding: 0 0 120px;
    }

    .banner .banner_img img {
        width: 100%;
    }

}



@media (max-width: 768px) {

    .mainVisual .main_logo {
        margin-top: -55%;
        max-width: 425px;
    }

    @keyframes intro1 {
        0% {}

        100% {
            width: 68%;
            opacity: 1;
        }
    }

    .mainVisual .btn_box {
        width: 80%;
        max-width: 410px;
    }

    @keyframes intro2 {
        0% {}

        100% {
            margin-top: 8%;
            opacity: 1;
        }
    }

    .mainVisual .main_chr {
        width: 100%;
    }

    .cont1 {
        padding: 90px 0 180px;
    }

    .cont1 .tit {
        font-size: 28px;
    }

    .cont1 .des {
        font-size: 15px;
        letter-spacing: -0.5px;
    }

    .cont1 .des br {
        display: block;
    }

    .cont1 .des {
        margin-bottom: 65px;
    }

    .cont1 .leaf_img.leaf3 {
        display: none;
    }

    .cont2 {
        background: url(/img/cont2_bg.png) no-repeat center / 220%;
    }

    .cont2 .des {
        letter-spacing: -0.5px;
    }

    .cont2 .cont2_main {
        width: 80%;
    }

    .story {
        background: url(/img/story_bg_mobile.png)no-repeat center / cover;
    }

    .story .inner {
        padding: 125px 0 250px;
    }

    .story .story_line {
        width: 25%;
        margin-bottom: 20px;
    }

    .story .story_tit {
        width: 65%;
        margin-bottom: 45px;
    }

    .story .story_txt {
        font-size: 15px;
        margin-bottom: 40px;
    }

    .story .story_btn {
        width: 265px;
    }


}

@media (max-width: 565px) {
    .scrollTop {
        right: 15px;
        bottom: 15px;
    }

    .mainVisual .inner {
        width: 100%;
    }

    .mainVisual .btn_box {
        width: 80%;
    }

    @keyframes intro2 {
        0% {}

        100% {
            margin-top: 20%;
            opacity: 1;
        }
    }

    .mainVisual .main_chr.mobile {
        display: block;
    }

    .mainVisual .main_chr.pc {
        display: none;
    }

    .cont1 .des {
        margin-bottom: 40px;
    }

    .cont1 .cont1_slider {
        width: 90%;
        margin: 0 auto
    }

    .cont1 .cont1_slider :global(.swiper-slide-active) {
        transform: scale(1);
    }

    .cont3 .btn_box ul li a {
        font-size: 18px;
        padding: 8px 35px;
        margin: 0 5px;
    }

    .cont3 .book_box {
        width: 100%;
        max-width: 380px;
        padding: 100px 0;
    }

    .cont3 .chr_profile .txt_box .tit {
        font-size: 24px;
    }

    .cont3 .chr_profile .txt_box .grade {
        font-size: 16px;
    }

    .cont3 .chr_profile .txt_box .des_box .attack {
        font-size: 14px;
    }

    .cont3 .chr_profile .txt_box .des_box .des {
        width: 100%;
        font-size: 13px;
    }
}

@media (max-width: 430px) {
    .inner {
        min-width: 320px;
    }

    .cont3 {
        background: url(/img/book_bg_mobile.png) no-repeat center bottom /cover;
    }

    .cont3 .tit {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .cont3 .des {
        font-size: 15px;
        margin-bottom: 30px;
    }

    .cont3 .btn_box {
        margin-bottom: 15px;
    }

    .cont3 .btn_box ul li a {
        padding: 8px 25px;
        font-size: 15px;
    }

    .cont3 .inner {
        padding: 100px 0 50px;
    }

    .cont3 .des br {
        display: block;
    }

    .cont3 .book_left_box {
        margin: 0 auto 15px;
    }


    .cont3 .book_left_box .profile_box li {
        width: 40px;
    }

    .cont3 .book_right_box .character_box {
        margin: -40px auto 0px;
    }

    .story .story_tit {
        width: 80%;
        margin-bottom: 40px;
    }

    .story .story_txt {
        font-size: 13px;
        letter-spacing: -0.5px;
    }

}