.inner {
    max-width: 1500px;
    min-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.sideMenu {
    display: none;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    z-index: 99999999;
    top: -100%;
    right: 0;
    transition: all .3s;
    opacity: 0;
}

.sideMenu .side_inner {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding: 125px 0 0;
    position: relative;
}

.sideMenu.on {
    display: none;
    top: 0;
    opacity: 1;
}

.sideMenu .side_logo {
    width: 150px;
    margin-bottom: 50px;
}

.sideMenu .menu_list {}

.sideMenu .menu_list li {}

.sideMenu .menu_list li a {
    display: block;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    color: #111;
    font-weight: 700;
    font-size: 18px;
}

.sideMenu .menu_list li a span {
    font-weight: 300;
    color: #666;
    font-size: 14px;
    margin-left: 5px;
}

.sideMenu .side_copy {
    color: #998;
    font-size: 12px;
    position: absolute;
    bottom: 40px;
}

.logo {
    display: block;
    width: 80px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: all .3s;
}

.sc_logo {
    display: block;
    width: 200px;
    transition: all .3s;
}

.mBtn {
    position: fixed;
    right: 5%;
    top: 12px;
    display: none;
    width: 28px;
    height: 28px;
    cursor: pointer;
    z-index: 99999999999999;
}

.mBtn span {
    display: block;
    width: 28px;
    height: 3px;
    background: #222;
    border-radius: 10px;
    transition: 0.3s;
}

.mBtn span:nth-child(2) {
    margin: 6px 0;
}

/* 클릭 후 X */
.mBtn.on span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.mBtn.on span:nth-child(2) {
    opacity: 0;
}

.mBtn.on span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

.header {
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 999999;
    transition: all .3s;
    margin-top: -50%;
    opacity: 0;
    animation: header_ani 1s .5s forwards;
}

.header .inner {
    transition: all .3s;
}

.header.scroll {
    background-color: transparent;
}

.header.scroll .inner {
    padding: 0;
}

.header.scroll .logo {
    display: none;
}

.header.scroll .sc_logo {
    display: none;
}

.header .inner {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.gnb_box {
    background-color: rgba(2, 2, 2, 0.8);
}

.gnb {
    width: 100%;
    padding: 15px 0;
}

@keyframes header_ani {
    0% {}

    100% {
        margin-top: 0;
        opacity: 1;
    }
}

.gnb ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gnb ul li {
    margin: 0 20px;
}

.gnb ul li a {
    display: block;
    text-align: center;
    color: #fff;
}

@media (max-width: 1920px) {
    .inner {
        width: 1200px;
    }

    .sc_logo {
        width: 155px;
    }

    .logo {
        width: 75px;
    }

    .gnb {
        padding: 8px 0;
    }

    .gnb ul li a {
        font-size: 14px;
    }
}

@media (max-width: 1200px) {
    .inner {
        width: 90%;
        max-width: auto;
        min-width: auto;
    }
}

@media (max-width: 768px) {
    .header.scroll {
        background: #fff;
    }

    .header.scroll .sc_logo {
        display: block;
    }


    .mBtn {
        display: block;
    }

    .sideMenu {
        display: none;
    }

    .sideMenu.on {
        display: block;
    }

    .gnb_box {
        display: none;
    }

    .header .sc_logo {
        display: block;
    }


    .logo {
        display: none;
    }
}

@media (max-width: 565px) {
    .header .inner {
        padding: 0;
    }
}

@media (max-width: 430px) {
    .inner {
        min-width: 320px;
    }
}